<div #toogleBar class="relative">
  <div
    (click)="toggleDropdown()"
    class="px-3 py-1.5 text-sm font-medium rounded-md bg-neutral-800 hover:bg-neutral-700 text-gray-200 transition-colors duration-200 cursor-pointer w-fit"
    [clickOutsideExceptions]="[toogleBar]"
    appClickOutside
    (clickOutside)="onClose()"
  >
    {{ selectedTimeframe }}
  </div>

  @if(isDropdownOpen) {
  <div
    class="absolute top-9 flex flex-col gap-2 z-100 w-40 rounded-md bg-neutral-800 overflow-hidden"
  >
    <button
      *ngFor="let tf of timeframes"
      (click)="changeTimeframe(tf.value); onClose()"
      [class.bg-gray-600]="selectedTimeframe === tf.value"
      class="px-3 py-1.5 text-sm font-medium hover:bg-neutral-700 text-gray-200 transition-colors duration-200 text-left"
    >
      {{ tf.label | translate }}
    </button>
  </div>
  }
</div>
