<div
  class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md text-gray-200"
>
  <!-- <h2 class="mb-4">
    {{ "TRADE.WATCHLIST.TITLE" | translate }}
  </h2> -->
  <div class="flex justify-between mb-4">
    <div class="flex space-x-4">
      <button
        (click)="setActiveTab(orderStatus.OPEN)"
        [class.bg-yellow-500]="activeTab() === orderStatus.OPEN"
        [class.text-black]="activeTab() === orderStatus.OPEN"
        [class.bg-gray-700]="activeTab() !== orderStatus.OPEN"
        class="px-4 py-2 rounded"
      >
        {{ "TRADE.ORDER_PORPOLIO.TABS.OPEN" | translate }}
      </button>
      <button
        (click)="setActiveTab(orderStatus.PENDING)"
        [class.bg-yellow-500]="activeTab() === orderStatus.PENDING"
        [class.text-black]="activeTab() === orderStatus.PENDING"
        [class.bg-gray-700]="activeTab() !== orderStatus.PENDING"
        class="px-4 py-2 rounded"
      >
        {{ "TRADE.ORDER_PORPOLIO.TABS.PEDDING" | translate }}
      </button>
      <button
        (click)="setActiveTab(orderStatus.ClOSED)"
        [class.bg-yellow-500]="activeTab() === orderStatus.ClOSED"
        [class.text-black]="activeTab() === orderStatus.ClOSED"
        [class.bg-gray-700]="activeTab() !== orderStatus.ClOSED"
        class="px-4 py-2 rounded"
      >
        {{ "TRADE.ORDER_PORPOLIO.TABS.CLOSED" | translate }}
      </button>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full table-auto">
      <thead>
        <tr class="border-b border-gray-500">
          @for (header of headers; track $index) {
          <th class="p-2 text-left">
            {{ header.label | translate }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of filteredOrders()"
          class="border-b border-gray-700 hover:bg-gray-700"
        >
          <td class="p-2">
            {{ order.symbol }}
          </td>
          <td class="p-2">
            <span
              [ngClass]="{
                'text-red-500': order.side === orderSide.SELL,
                'text-blue-500': order.side === orderSide.BUY
              }"
            >
              {{ order.side }}
            </span>
          </td>
          <td class="p-2 text-left">{{ order.quantity }}</td>

          <td class="p-2">
            {{ order.closePrice ? (order.closePrice | number : "1.2-2") : "-" }}
          </td>
          <td
            class="p-2"
            [ngClass]="{
              'text-green-500': +order.profit >= 0,
              'text-red-500': +order.profit < 0
            }"
          >
            {{ +order.profit >= 0 ? "+" : ""
            }}{{ +order.profit | number : "1.2-2" }}
          </td>
          @if(activeTab() == orderStatus.OPEN) {
          <td class="w-32">
            <div class="flex items-center gap-1 w-32">
              <button
                class="px-2 py-1.5 rounded-md bg-neutral-800 hover:bg-neutral-700 transition-colors duration-200 w-fit"
                (click)="
                  onUpdateOrder(
                    order.orderId,
                    order.symbol,
                    +order.quantity,
                    '',
                    +order.stopLoss,
                    +order.takeProfit
                  )
                "
              >
                <fa-icon [icon]="editIcon"></fa-icon>
              </button>
              <button
                class="px-2 py-1.5 rounded-md bg-neutral-800 hover:bg-neutral-700 transition-colors duration-200 w-fit"
                (click)="onCloseOrder(order.orderId, order.closePrice)"
              >
                <fa-icon [icon]="xMarkCircleIcon"></fa-icon>
              </button>
            </div>
          </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
</div>
