<div>
  <div class="text-center font-semibold text-xl text-blue-600 mt-2"></div>
  <div class="flex justify-center py-2">
    <app-gauge-chart [value]="gaugeValue()"></app-gauge-chart>
  </div>

  <div class="mt-6">
    <h3 class="font-bold mb-2">
      {{ "CRYPTO.DETAIL.TECHNICAL_INDICATOR" | translate }}
    </h3>
    <div
      *ngFor="let i of indicators()"
      class="flex justify-between text-gray-400"
    >
      <p>{{ i.name }}</p>
      <p
        [ngClass]="{
          'text-blue-600': i.signal === 'BUY',
          'text-gray-400': i.signal === 'NEUTRAL',
          'text-red-500': i.signal === 'SELL'
        }"
      >
        {{ "COMMONS." + i.signal | translate }}
      </p>
    </div>
  </div>
</div>
