<div
  class="flex items-start justify-between gap-4 p-2 hover:bg-gray-700 cursor-pointer"
  [ngClass]="isSelected() ? 'bg-gray-800' : ''"
  (click)="redirectToDetail()"
>
  <div>{{ watchTicket() }}</div>
  <div>
    <app-mini-chart
      [chartData]="currenciesSignal()"
      [colorTrend]="percentChange() > 0"
      [width]="150"
    ></app-mini-chart>
    <!-- Price and % change -->
    <div class="flex justify-between items-center">
      <p class="text-xl font-bold">{{ this.price() }}</p>
      <div
        [ngClass]="
          this.percentChange() >= 0 ? 'text-green-400' : 'text-red-400'
        "
      >
        {{ this.percentChange() >= 0 ? "▲" : "▼" }}
        {{ this.percentChange() | number : "1.2-2" }}%
      </div>
    </div>
  </div>
</div>
