<app-modal
  [title]="'TRADE.UPDATE_ORDER.MANAGEMENT.TITLE' | translate"
  (closed)="onClose()"
>
  <div class="bg-neutral-900">
    <div class="px-4 py-3 border-b border-gray-800">
      <div class="flex items-center justify-between text-gray-400">
        <div>
          <span>BTC</span>
          <span class="ml-1"
            >{{ order.volume }}
            {{ "TRADE.UPDATE_ORDER.MANAGEMENT.VOLUME" | translate }}</span
          >
        </div>
        <!-- <p
          [ngClass]="
            profitLoss && profitLoss < 0 ? 'text-red-500' : 'text-green-500'
          "
        >
          {{ profitLoss }}
        </p> -->
      </div>
      <div class="flex items-center justify-between text-gray-400">
        <p class="text-sm">
          <span class="text-red-500">{{
            "TRADE.UPDATE_ORDER.MANAGEMENT.ACTION.SELL" | translate
          }}</span>
          {{ "TRADE.UPDATE_ORDER.MANAGEMENT.ACTION.AT_PRICE" | translate }}
          {{ order.openPrice }}
        </p>
        <p class="text-gray-300">{{ order.currentPrice }}</p>
      </div>
    </div>

    <!-- Tabs -->
    <div class="flex border-b border-gray-800">
      <button
        (click)="setActiveTab('edit')"
        class="px-4 py-2 text-sm font-medium text-gray-400"
        [ngClass]="activeTab === 'edit' ? 'border-b-2 border-yellow-500' : ''"
      >
        {{ "TRADE.UPDATE_ORDER.TABS.EDIT" | translate }}
      </button>
      <button
        (click)="setActiveTab('closePartial')"
        class="px-4 py-2 text-sm font-medium text-gray-400"
        [ngClass]="
          activeTab === 'closePartial' ? 'border-b-2 border-yellow-500' : ''
        "
      >
        {{ "TRADE.UPDATE_ORDER.TABS.CLOSE_PARTIAL" | translate }}
      </button>
    </div>

    <!-- Edit Form (Tab 1) -->
    <form
      [formGroup]="orderForm"
      *ngIf="activeTab === 'edit'"
      class="p-4 text-gray-400"
    >
      <!-- Take Profit -->
      <div class="mb-4">
        <div class="flex justify-between text-sm mb-1">
          <span>{{
            "TRADE.UPDATE_ORDER.TRADING.TAKE_PROFIT" | translate
          }}</span>
        </div>

        <div class="flex items-center">
          <div class="flex-1 bg-gray-800 rounded-l flex items-center">
            <input
              type="text"
              formControlName="takeProfit"
              class="bg-transparent w-full px-3 py-2 focus:outline-none"
              [placeholder]="'TRADE.UPDATE_ORDER.TRADING.NOT_SET' | translate"
              [min]="0.01"
            />
            <button
              *ngIf="orderForm.get('takeProfit')?.value"
              (click)="clearInput('takeProfit')"
              class="text-gray-500 px-2 text-xl"
            >
              &times;
            </button>
          </div>
          <div class="bg-gray-800 px-3 py-2">
            {{ "TRADE.UPDATE_ORDER.TRADING.PRICE" | translate }}
          </div>
          <button
            (click)="adjustValue('takeProfit', false)"
            class="bg-gray-800 px-3 py-2"
          >
            −
          </button>
          <button
            (click)="adjustValue('takeProfit', true)"
            class="bg-gray-800 rounded-r px-3 py-2"
          >
            +
          </button>
        </div>
      </div>

      <!-- Stop Loss -->
      <div class="mb-4">
        <div class="flex justify-between text-sm mb-1">
          <span>{{ "TRADE.UPDATE_ORDER.TRADING.STOP_LOSS" | translate }}</span>
        </div>

        <div class="flex items-center">
          <div class="flex-1 bg-gray-800 rounded-l flex items-center">
            <input
              type="text"
              formControlName="stopLoss"
              [placeholder]="'TRADE.UPDATE_ORDER.TRADING.NOT_SET' | translate"
              class="bg-transparent w-full px-3 py-2 text-gray-500 focus:outline-none"
              [min]="0.01"
            />
            <button
              *ngIf="orderForm.get('stopLoss')?.value"
              (click)="clearInput('stopLoss')"
              class="text-gray-500 px-2 text-xl hover:text-gray-500"
            >
              &times;
            </button>
          </div>
          <div class="bg-gray-800 px-3 py-2">
            {{ "TRADE.UPDATE_ORDER.TRADING.PRICE" | translate }}
          </div>
          <button
            (click)="adjustValue('stopLoss', false)"
            class="bg-gray-800 px-3 py-2"
          >
            −
          </button>
          <button
            (click)="adjustValue('stopLoss', true)"
            class="bg-gray-800 rounded-r px-3 py-2"
          >
            +
          </button>
        </div>
      </div>

      <button
        (click)="updateOrder()"
        class="w-full bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-3 px-4 rounded"
      >
        {{ "TRADE.UPDATE_ORDER.BUTTONS.MODIFY" | translate }}
      </button>
    </form>

    <!-- Close Partial Form (Tab 2) -->
    <form
      [formGroup]="orderForm"
      *ngIf="activeTab === 'closePartial'"
      class="p-4 text-gray-400"
    >
      <div class="mb-4">
        <div class="flex justify-between text-sm mb-1">
          <span>{{
            "TRADE.UPDATE_ORDER.TRADING.VOLUME_CLOSE" | translate
          }}</span>
        </div>

        <div class="flex items-center">
          <div class="flex-1 bg-gray-800 rounded-l flex items-center">
            <input
              type="text"
              formControlName="closeVolume"
              class="bg-transparent w-full px-3 py-2 focus:outline-none"
              [min]="0.01"
              [placeholder]="'TRADE.UPDATE_ORDER.TRADING.NOT_SET' | translate"
            />
          </div>
          <div class="bg-gray-800 px-3 py-2">
            {{ "TRADE.UPDATE_ORDER.TRADING.LOT" | translate }}
          </div>
          <button
            (click)="adjustValue('closeVolume', false)"
            class="bg-gray-800 px-3 py-2"
          >
            −
          </button>
          <button
            (click)="adjustValue('closeVolume', true)"
            class="bg-gray-800 rounded-r px-3 py-2"
          >
            +
          </button>
        </div>
        <!-- Error message -->
        <div
          *ngIf="
            orderForm.get('closeVolume')?.invalid &&
            orderForm.get('closeVolume')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          {{ getCloseVolumeError() }}
        </div>
      </div>

      <button
        (click)="closePartialOrder()"
        class="w-full bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-3 px-4 rounded mb-3"
      >
        {{ "TRADE.UPDATE_ORDER.BUTTONS.CLOSE" | translate }}
      </button>

      <div class="text-center">
        <p class="text-sm">
          {{ "TRADE.UPDATE_ORDER.PROFIT.ESTIMATED_LOSS" | translate }}
        </p>
        <p class="text-red-500">{{ estimatedProfit }} USD</p>
      </div>
    </form>
  </div>
</app-modal>
