<div class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md mb-4">
  <h2 class="mb-4">
    Biểu đồ tài chính
  </h2>

  <div class="mb-6">
    <!-- <div class="flex-1"></div> -->

    <div id="chart" *ngIf="chartOptions">
      <apx-chart
        #chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [title]="chartOptions.title!"
        [tooltip]="chartOptions.tooltip!"
        [dataLabels]="chartOptions.dataLabels!"
        [stroke]="chartOptions.stroke!"
      ></apx-chart>
      <app-tradding-volume [series]="series()"></app-tradding-volume>
    </div>
  </div>
</div>
