<div class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md mb-4">
  <h2 class="mb-4">
    {{ "TRADE.CHART.TITLE" | translate }}
  </h2>

  <div class="mb-6">
    <!-- Timeframe Selector -->
    <div class="relative">
      <div class="flex gap-2">
        <app-timeframe-selector
          (setTimeframe)="changeTimeframe($event)"
        ></app-timeframe-selector>
        <app-indicators-selector
          (selectIndicator)="onSelectIndicator($event)"
        ></app-indicators-selector>
      </div>
      <div class="absolute top-8 z-10 backdrop-blur-sm rounded-md">
        <app-legend-indicator [data]="legendIndicator()"></app-legend-indicator>
        <app-legend-crosshair
          [smaData]="legendSMA()"
          [bbData]="legendBB()"
          [isSMAVisible]="isSMAVisible()"
          [isBBVisible]="isBBVisible()"
          (onToggleVisibility)="handleToggleVisibility($event)"
          (onRemove)="handleRemoveIndicator($event)"
        ></app-legend-crosshair>
      </div>
    </div>
    <div class="chart-container w-full" #chartContainer></div>
  </div>
</div>
