<nav class="bg-neutral-900">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="hidden xl:flex items-center justify-between w-full">
        <app-side-bar></app-side-bar>
        <!-- Right side navigation items -->
        <!-- User Profile with Dropdown -->
        <div class="flex items-center gap-2">
          <div class="relative">
            <app-badge-notification></app-badge-notification>
            <div></div>
          </div>
          <div class="ml-3 relative" #toogleBar>
            <div
              (click)="toggleDropdown()"
              class="flex items-center space-x-2 text-gray-200 hover:text-gray-300 cursor-pointer"
              [clickOutsideExceptions]="[toogleBar]"
              appClickOutside
              (clickOutside)="onClose()"
            >
              <img
                class="h-8 w-8 rounded-full"
                src="assets/images/avatar-placeholder.png"
                alt="User avatar"
              />
              <span class="font-medium">John Doe</span>
            </div>

            <!-- Dropdown Menu -->
            <div
              *ngIf="isDropdownOpen"
              class="absolute right-0 mt-2 w-max rounded-md shadow-lg bg-neutral-800 ring-1 ring-black ring-opacity-5"
            >
              <div role="menu">
                <!-- Language Toggle -->
                <div class="px-2 py-1 text-sm text-gray-200">
                  <div class="flex items-center space-x-2 mt-1">
                    <app-select-lang></app-select-lang>
                  </div>
                </div>
                <div class="px-2 py-1 text-sm text-gray-200">
                  <button
                    class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-200 bg-neutral-800 rounded-md hover:bg-neutral-700 focus:outline-none"
                    (click)="logout()"
                  >
                    {{ "AUTH.LOGOUT" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu button -->
      <div class="xl:hidden flex items-center justify-between w-full">
        <h1 class="text-xl font-bold text-blue-500">Logo</h1>
        <button
          (click)="openMenu()"
          class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-blue-700 focus:outline-none"
        >
          <svg
            *ngIf="isMenuOpen"
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, toggle classes based on menu state -->
  <app-mobile-menu
    [isMenuOpen]="isMenuOpen()"
    (closeMenu)="closeMenu()"
  ></app-mobile-menu>
</nav>
