<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  fill="none"
  stroke="none"
  stroke-width="0"
  class="gauge"
  width="300"
  height="300"
  style="
    line-height: normal;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    overflow: hidden;
  "
  direction="ltr"
>
  <g class="">
    <path
      d="M 65.86223 129.87033 A 104.00000 104.00000 0 0 0 76.46089 264.53911 L 79.99643 261.00357 A 99.00000 99.00000 0 0 1 69.90732 132.80926 Z"
      transform="translate(0,0)"
      stroke-linejoin="round"
      fill="#DF5353"
      class="0"
    ></path>
    <path
      d="M 234.13777 129.87033 A 104.00000 104.00000 0 0 0 65.86223 129.87033 L 69.90732 132.80926 A 99.00000 99.00000 0 0 1 230.09268 132.80926 Z"
      transform="translate(0,0)"
      stroke-linejoin="round"
      fill="#DDDF0D"
      class="1"
    ></path>
    <path
      d="M 223.53911 264.53911 A 104.00000 104.00000 0 0 0 234.13777 129.87033 L 230.09268 132.80926 A 99.00000 99.00000 0 0 1 220.00357 261.00357 Z"
      transform="translate(0,0)"
      stroke-linejoin="round"
      fill="#55BF3B"
      class="2"
    ></path>
  </g>
  <g class="">
    <g class="" transform="translate(51,92)">
      <g class="">
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-225,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-198,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-171,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-144,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-117,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-90,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-63,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-36,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(-9,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(18.00000000000003,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
        <path
          d="M 198 99 L 203 99"
          transform="translate(0,0) rotate(45,99,99)"
          stroke="#ffffff"
          stroke-width="2"
          stroke-opacity="1"
          opacity="1"
        ></path>
      </g>
      <g class=""></g>
    </g>
  </g>
  <g class="">
    <g class="" transform="translate(51,92)">
      <text
        x="7.893398282201787"
        y="191.8241161390704"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        0%
      </text>
      <text
        x="-23.265847744427305"
        y="143.0709163621862"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        10%
      </text>
      <text
        x="-27.815325108927063"
        y="85.66735560651435"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        20%
      </text>
      <text
        x="-10"
        y="32.09926131883441"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        30%
      </text>
      <text
        x="30"
        y="0"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        40%
      </text>
      <text
        x="99"
        y="-19"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        50%
      </text>
      <text
        x="170"
        y="1"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        60%
      </text>
      <text
        x="205.13525491562422"
        y="32.09926131883441"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        70%
      </text>
      <text
        x="225.81532510892706"
        y="85.66735560651435"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        80%
      </text>
      <text
        x="221.2658477444273"
        y="143.0709163621862"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        90%
      </text>
      <text
        x="192.33452377915606"
        y="194.6066017177982"
        transform="translate(0,0)"
        text-anchor="middle"
        style="
          white-space: pre;
          fill: rgb(118, 118, 118);
          font-weight: 400;
          font-size: 14px;
          cursor: default;
        "
      >
        100%
      </text>
    </g>
  </g>

  @if(value()) {
  <g
    class="indicator"
    fill="#9b9b9b"
    attr.transform="{{ indicatorTransform() }}"
  >
    <path d="M 148 191 L 150 112 L 152 191 Z"></path>
    <circle cx="150" cy="191" r="7" class="border"></circle>
    <circle cx="150" cy="191" r="5" class="hole" fill="#ffffff"></circle>
  </g>
  }
</svg>
