<div *ngIf="cryptoDetail" class="space-y-1">
  <!-- Header Section -->
  <div class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md">
    <div
      class="flex flex-col md:flex-row justify-between items-start md:items-center"
    >
      <div class="flex items-center space-x-4 mb-4 md:mb-0">
        <!-- Có thể thêm logo ở đây -->
        <div>
          <h1 class="text-2xl font-bold">
            {{ cryptoDetail.name }} ({{ cryptoDetail.symbol }})
          </h1>
        </div>
      </div>
      <div class="flex flex-col items-end">
        <h3>
          {{ formatCurrency(cryptoDetail.price) }}
        </h3>
        <div
          [ngClass]="
            cryptoDetail.priceChangePercent >= 0
              ? 'text-green-500'
              : 'text-red-500'
          "
          class="text-lg font-semibold"
        >
          {{ formatPercent(cryptoDetail.priceChangePercent) }}
          <span *ngIf="cryptoDetail.priceChangePercent >= 0">▲</span>
          <span *ngIf="cryptoDetail.priceChangePercent < 0">▼</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex w-full gap-1">
    <!-- Chi tiết thông tin -->
    <div class="grid grid-cols-1 gap-1 w-2/3">
      <!-- Thông tin cơ bản -->
      <div class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4 text-gray-800 border-b pb-2">
          {{ "CRYPTO.DETAIL.BASIC_INFO" | translate }}
        </h2>
        <div class="space-y-3 text-gray-400">
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.MARKET_CAP" | translate
            }}</span>
            <span class="font-medium">{{
              formatCurrency(cryptoDetail.marketCap)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.CURRENT_RATE" | translate
            }}</span>
            <span class="font-medium">{{
              formatCurrency(cryptoDetail.price)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.CIRCULATING_SUPPLY" | translate
            }}</span>
            <span class="font-medium">{{
              formatNumber(cryptoDetail.circulatingSupply)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.TRADING_VOLUME_24H" | translate
            }}</span>
            <span class="font-medium">{{
              formatNumber(cryptoDetail.tradingVolume)
            }}</span>
          </div>
        </div>
      </div>

      <!-- Thông tin giá -->
      <div class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4 text-gray-800 border-b pb-2">
          {{ "CRYPTO.DETAIL.PRICE_INFO" | translate }}
        </h2>
        <div class="space-y-3 text-gray-400">
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.HIGHEST_PRICE" | translate
            }}</span>
            <span class="font-medium text-green-500">{{
              formatCurrency(cryptoDetail.high24h)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.LOWEST_PRICE" | translate
            }}</span>
            <span class="font-medium text-red-500">{{
              formatCurrency(cryptoDetail.low24h)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.AVERAGE_PRICE" | translate
            }}</span>
            <span class="font-medium">{{
              formatCurrency(cryptoDetail.averagePrice)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.OPEN_PRICE" | translate
            }}</span>
            <span class="font-medium">{{
              formatCurrency(cryptoDetail.openPrice)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.CLOSE_PRICE" | translate
            }}</span>
            <span class="font-medium">{{
              formatCurrency(cryptoDetail.closePrice)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="">{{
              "CRYPTO.DETAIL.FIELDS.VOLUME_24H" | translate
            }}</span>
            <span class="font-medium">{{
              formatCurrency(cryptoDetail.volume24h)
            }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Biểu đồ có thể thêm ở đây -->
    <div class="bg-neutral-900 p-4 sm:p-6 lg:px-8 rounded-lg shadow-md w-1/3">
      <h2 class="text-xl font-semibold mb-4 text-gray-800 border-b pb-2">
        {{ "CRYPTO.DETAIL.TECHNICAL_VIEW" | translate }}
      </h2>
      <div class="">
        <!-- Phần này sẽ tích hợp biểu đồ từ thư viện bên thứ ba như Chart.js hoặc NgxCharts -->
        <app-technical-gauge-chart></app-technical-gauge-chart>
      </div>
    </div>
  </div>
</div>
