<div class="bg-neutral-900 shadow-sm rounded-xl overflow-hidden">
  <!-- Header -->
  <div class="p-4 text-gray-200 flex justify-between items-center">
    <h2 class="text-lg font-semibold">
      {{ "HOME.SYSTEM_NOTIFY.TITLE" | translate }}
    </h2>
    <!-- <button class="text-sm text-gray-400 hover:text-gray-200 transition-colors">
      {{ "HOME.SYSTEM_NOTIFY.MARK_READ" | translate }}
    </button> -->
  </div>

  <!-- Notifications List -->
  <div class="max-h-96 overflow-y-auto">
    <div
      *ngFor="let notification of articlesOpenApi()"
      class="p-4 border-b border-neutral-800 hover:bg-neutral-800 flex items-start transition-colors"
    >
      <!-- Icon -->
      <i class="pi pi-info-circle text-blue-500" style="font-size: 1.5rem"></i>

      <!-- Content -->
      <div class="flex-1">
        <p class="text-sm text-gray-200">
          {{ notification.title }}
        </p>
        <p class="text-xs text-gray-500 mt-1">
          {{ notification.createdBy | date : "short" }}
        </p>
      </div>

      <!-- Read Button -->
      <!-- <button
        *ngIf="!notification.isRead"
        class="text-blue-400 hover:text-blue-300 text-sm transition-colors"
      >
        {{ "HOME.SYSTEM_NOTIFY.READ" | translate }}
      </button> -->
    </div>

    <!-- Empty State -->
    <div
      *ngIf="!articlesOpenApi().length"
      class="p-8 text-center text-gray-500"
    >
      <i class="pi pi-bell text-4xl mb-2"></i>
      <p>{{ "HOME.SYSTEM_NOTIFY.ALERT" | translate }}</p>
    </div>
  </div>
</div>
