<div class="flex gap-4 items-center">
  <!-- Logo Section -->
  <img
    src="assets/images/LogoVinapulse.png"
    alt="Vina Pulse"
    width="30"
    height="30"
    class="block"
  />

  <!-- Navigation Menu -->
  <div class="flex px-1">
    @for (item of menuItems; track item) {
    <a
      [routerLink]="item.route"
      class="flex items-center px-2 py-5 hover:border-b-1 hover:text-blue-300 border-blue-300"
      [routerLinkActive]="'border-b-1 border-blue-500 text-blue-500'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <!-- <fa-icon [icon]="item.icon"></fa-icon> -->
      {{ item.label | translate }}
    </a>
    }
  </div>
</div>
