<div class="flex gap-4">
  <!-- Logo Section -->
  <h1 class="text-xl font-bold text-blue-500">Logo</h1>

  <!-- Navigation Menu -->
  <div class="flex px-1 space-y-1">
    <ng-container *ngFor="let item of menuItems">
      <a
        [routerLink]="item.route"
        routerLinkActive="border-b-1 border-blue-500 text-blue-500"
        class="flex items-center px-2 py-3 text-gray-600 transition delay-150 duration-300 ease-in-out hover:border-b-1 hover:text-blue-300 border-blue-300"
      >
        <!-- <fa-icon [icon]="item.icon"></fa-icon> -->
        <span>{{ item.label | translate }}</span>
      </a>
    </ng-container>
  </div>
</div>
